@import url(http://fonts.googleapis.com/css?family=Lato);
body, html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	-webkit-transition-property: height;
}
body *, html * {
	box-sizing: border-box;
}

.wrapper {
	width: 200px;
	height: 100%;
	-webkit-transition-property: height;
}

.sidebar {
	height: 100%;
	-webkit-transition-property: height;
	background-color: #264053;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	padding-top: 20px;
	position: relative;
	z-index: 100;
	transition: all 0.25s ease-out;
}
.sidebar h1 {
	font-family: "Lato", sans-serif;
	text-align: right;
	color: #7d8d99;
	padding-right: 10%;
	font-size: 40px;
	transition: font-size 0.25s ease-out;
}

ul.nav {
	padding: 0px;
}
ul.nav li {
	list-style: none;
	display: block;
	text-align: right;
}
ul.nav li a {
	font-family: "Lato", sans-serif;
	font-size: 15px;
	padding-right: 5%;
	color: white;
	cursor: pointer;
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-decoration: none !important;
}
ul.nav li a span {
	position: relative;
	z-index: 200;
	padding-right: 10px;
}
ul.nav li a:after {
	display: inline-block;
	height: 40px;
	float: right;
	position: absolute;
	width: 0px;
	right: 0px;
	background-color: #7d8d99;
	transition: all 0.15s ease-in-out;
	content: " ";
	z-index: 150;
}
ul.nav li a:hover:after, #contact:target ul.nav li a.contact-link:after, #matt:target ul.nav li a.matt-link:after, #blog:target ul.nav li a.blog-link:after {
	width: 100%;
}

/*mind map*/
#fileshare {
	width: 70%;
	height: 50%;
	position: absolute;
	top: 12%;
	left: 14.5%;
}
/*chat*/
body {
   box-sizing: border-box;
   overflow: hidden;
   font: 13px Helvetica, Arial;
}
#txtarea {
   width: 300px;
   /*CSS로 브라우저 창 크기별로 이미지 사이즈 비율 자동 조정하기*/
   height: 100%;
   -webkit-transition-property: height;
   border-left: 1px solid;
   position: absolute;
   top: 0%;
   right: 0%;
   overflow: scroll;
   overflow-x: hidden
}
#txtappend {
   height: 95%;
   -webkit-transition-property: height;
}
#msg {
   position: absolute;
   bottom: 00%;
   left: 0%;
   width: 80%;
}
#messages {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#messages li {
   padding: 5px 10px;
}
#messages li:nth-child(odd) {
   background: #eee;
}

#send {
   position: absolute;
   bottom: 0%;
   right: 0%;
   width: 17.75%;
}
#m {
   width: 225px;
}
#sendbtn {
   width: 50px;
}
